<template>
  <div class="wrapper">
    <h1>Ajouter un abonnement</h1>
    <div>
      <h2>Abonnements</h2>
      <ul id="subs">
        <li
          v-for="sub in listSubs"
          :key="sub.name"
          :disabled="sub.disabled"
          v-on="!sub.disabled ? { click: () => handleSub(sub) } : {}"
        >
          <div
            class="sub"
            v-bind:class="{
              inactive: sub.disabled,
              selected: sub.name === form.subName,
            }"
          >
            <img :src="require('@/assets/img/' + sub.img)" />

            <h2>{{ sub.name }}</h2>
          </div>
        </li>
      </ul>
    </div>
    <form v-on:submit.prevent="saveSub">
      <SubForm v-bind:form="form" v-bind:isDisabled="isDisabled" />
    </form>
    <span class="form_error" v-if="error">{{ error }}</span>
  </div>
</template>

<script>
import { mapState } from "vuex";
import fire from "../firebaseConfig";
import SubForm from "../components/SubForm";

export default {
  name: "Add",
  components: {
    SubForm,
  },
  data() {
    return {
      form: {
        subName: undefined,
        subColor: undefined,
        subPrice: undefined,
        subStart: this.moment()
          .locale("fr")
          .format("YYYY-MM-DD"),
        subEnd: this.moment()
          .locale("fr")
          .add(1, "y")
          .format("YYYY-MM-DD"),
      },
      error: "",
    };
  },

  computed: {
    ...mapState(["allSubs", "userSubs", "allCats"]),
    isDisabled() {
      return (
        !this.form.subName ||
        !this.form.subPrice ||
        !this.form.subStart ||
        !this.form.subEnd
      );
    },
    isLoading() {
      return !this.allSubs || !this.userSubs;
    },
    listSubs() {
      if (this.isLoading) {
        return undefined;
      }
      if (!this.userSubs) {
        return this.allSubs;
      }
      return this.allSubs.map((item) => {
        const userSub = this.userSubs.find((el) => {
          return el.name === item.name;
        });
        if (userSub) {
          return {
            ...item,
            disabled: true,
          };
        }
        return {
          ...item,
          disabled: false,
        };
      });
    },
  },
  methods: {
    handleSub(sub) {
      this.form.subName = sub.name;
      this.form.subColor = sub.color;
      this.form.subImg = sub.img;
    },
    checkForm() {
      return !Object.values(this.form).some((x) => x === undefined);
    },
    saveSub() {
      if (this.checkForm()) {
        fire
          .database()
          .ref("userssubs/" + fire.auth().currentUser.uid)
          .push({
            name: this.form.subName,
            color: this.form.subColor,
            img: this.form.subImg,
            price: parseFloat(this.form.subPrice),
            start: this.form.subStart,
            end: this.form.subEnd,
            active: true,
          })
          .then(() => {
            this.$router.replace({ name: "Dashboard" });
          })
          .catch((err) => {
            console.log(err.message);
          });
      } else {
        this.error = "Attention, tous les champs doivent être remplis !";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.wrapper {
  width: 60%;
  margin: 60px auto;
  padding: 0;

  @media screen and (max-width: 760px) {
    width: 90%;
  }

  #subs {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 760px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 760px) {
      li {
        width: 45%;
      }
    }
    .sub {
      width: 160px;
      display: flex;
      background-color: $dark;
      margin: 30px 30px 0 0;
      border-radius: 5px;
      align-items: center;
      @media screen and (max-width: 760px) {
        margin: 30px 0 0 0;
        width: 100%;
        padding: 0;
      }
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
        margin: 10px 15px 10px 10px;
      }
      h2 {
        display: inline-block;
        font-size: 16px;
      }
      &.inactive {
        color: $third;
        cursor: default;
        img {
          opacity: 0.2;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }
      &.selected {
        background-color: $secondary;
      }
    }
  }
  h1 {
    margin-bottom: 40px;
  }
  .form__error {
    @include form_error;
  }
}
</style>
