<template>
  <div class="wrapper">
    <div v-show="filteredSubs" id="filterscontainer">
      <div id="filterscontainer__bt">
        <a v-on:click="filtersOpen = !filtersOpen">Filtrer</a>
      </div>
      <Filters
        v-show="filtersOpen"
        v-bind:allCats="allCats"
        v-bind:searchValue.sync="searchValue"
        @handleSort="handleSort"
        @handleFilter="handleFilter"
      />
    </div>
    <ul id="subs">
      <li id="subs__add" v-if="addAvailable">
        <router-link :to="{ name: 'Add' }">
          <img src="~@/assets/img/add.svg" />
        </router-link>
      </li>
      <li v-for="userSub in filteredSubs" :key="userSub.key">
        <Sub
          v-bind:userSub="userSub"
          @deleteSub="deleteSub"
          @toggleState="toggleState"
        />
      </li>
    </ul>
    <div id="mobile-bt" v-if="addAvailable">
      <router-link :to="{ name: 'Add' }">
        <a>Ajouter un abonnement</a>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import fire from "../firebaseConfig";
import Sub from "../components/Sub";
import Filters from "../components/Filters";
export default {
  name: "Dashboard",
  components: {
    Sub,
    Filters,
  },

  data() {
    return {
      cat: undefined,
      currentCat: "all",
      currentSort: "asc",
      searchValue: "",
      filtersOpen: false,
    };
  },
  computed: {
    ...mapState(["allSubs"]),
    ...mapGetters(["allCats", "userSubsWithCat", "isLoading"]),

    addAvailable() {
      return (
        this.userSubsWithCat.length != this.allSubs.length ||
        this.userSubsWithCat.length === 0
      );
    },

    filteredSubs() {
      if (this.isLoading) {
        return undefined;
      }
      let subs = this.userSubsWithCat;
      if (this.searchValue) {
        subs = subs.filter((item) =>
          item.name.toLowerCase().includes(this.searchValue.toLowerCase())
        );
      }
      subs.sort((a, b) =>
        this.currentSort === "asc" ? a.price - b.price : b.price - a.price
      );
      if (this.currentCat !== "all") {
        subs = subs.filter((item) => item.cat === this.currentCat);
      }
      return subs;
    },
  },
  methods: {
    handleSort(val) {
      this.currentSort = val;
    },
    handleFilter(val) {
      this.currentCat = val;
    },
    deleteSub(userSub) {
      fire
        .database()
        .ref("userssubs/" + fire.auth().currentUser.uid + "/" + userSub.key)
        .remove();
    },
    toggleState(userSub) {
      fire
        .database()
        .ref("userssubs/" + fire.auth().currentUser.uid + "/" + userSub.key)
        .update({ active: !userSub.active });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";

#filterscontainer {
  &__bt {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    a {
      border: 1px solid $secondary;
      transition: 0.2s;
      padding: 11px 20px;
      border-radius: 5px;
      display: inline-block;
      color: #fff;
      &:hover {
        background-color: $secondary;
        text-decoration: none;
      }
    }
  }
}
#subs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

  @media screen and (max-width: 760px) {
    margin-top: 20px;
  }
  li {
    @media screen and (max-width: 760px) {
      width: 100%;
    }
    @media screen and (min-width: 760px) {
      width: 320px;
      height: 320px;
    }
  }
  a:hover {
    text-decoration: none;
  }
  #subs__add {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    @media screen and (max-width: 760px) {
      display: none;
    }
    img {
      padding: 0;
      margin: 0;
      transition: transform 0.2s linear;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
#mobile-bt {
  @include bt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  padding: 0;
  background-color: $highlight;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: 760px) {
    display: none;
  }
}
</style>
