<template>
  <div class="wrapper" v-if="!isLoading">
    <div id="total">
      <h1>
        Le total de vos abonnements s'élève à <span>{{ total }}€</span> par mois
      </h1>
    </div>
    <div id="chartjs">
      <div class="columns">
        <h2>Répartition par abonnements</h2>
        <div class="doughnut">
          <doughnut-chart
            :chart-data="dataSubs"
            :options="chartOptions"
          ></doughnut-chart>
        </div>
      </div>
      <div class="columns">
        <h2>Répartition par catégories</h2>
        <div class="doughnut">
          <doughnut-chart
            :chart-data="dataCats"
            :options="chartOptions"
          ></doughnut-chart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import {
  getLabels,
  getPrices,
  getCatsTotal,
  getBgColors,
  fillOptions,
  keepActiveSubs,
} from "../lib/chartdata";
import DoughnutChart from "../components/DoughnutChart.vue";

export default {
  components: { DoughnutChart },
  data() {
    return {
      chartOptions: fillOptions(),
      categories: [],
    };
  },
  computed: {
    ...mapState(["allSubs", "userSubs"]),
    ...mapGetters(["allCats", "userSubsWithCat", "isLoading"]),

    total() {
      if (this.isLoading) {
        return undefined;
      }
      return keepActiveSubs(this.userSubs).reduce((total, currentEl) => {
        return total + currentEl.price;
      }, 0);
    },
    dataSubs() {
      if (this.isLoading) {
        return undefined;
      }
      return {
        labels: getLabels(keepActiveSubs(this.userSubs), "name"),
        datasets: [
          {
            data: getPrices(keepActiveSubs(this.userSubs)),
            backgroundColor: getBgColors(keepActiveSubs(this.userSubs)),
          },
        ],
      };
    },
    dataCats() {
      if (this.isLoading) {
        return undefined;
      }
      return {
        labels: getLabels(
          keepActiveSubs(this.userSubsWithCat),
          "cats",
          this.handleCats
        ),
        datasets: [
          {
            data: getCatsTotal(
              keepActiveSubs(this.userSubsWithCat),
              this.categories
            ),
            backgroundColor: [
              "rgba(56, 234, 187, 1)",
              "rgba(178, 150, 214, 1)",
              "rgba(4, 239, 254, 1)",
              "rgba(252, 181, 177, 1)",
              "rgba(111, 178, 210, 1)",
              "rgba(254, 74, 4, 1)",
            ],
          },
        ],
      };
    },
  },
  methods: {
    handleCats(cats) {
      this.categories = cats;
    },
    handleOptions(options) {
      return options;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.wrapper {
  #total {
    margin: 40px auto 0 auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    h1 {
      color: #fff;
      font-weight: 100;
    }
    span {
      color: $highlight;
    }
  }
  #chartjs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .columns {
      background-color: $secondary;
      width: 30%;
      display: flex;
      justify-content: center;
      padding: 60px 30px;
      border-radius: 10px;
      text-align: center;
      flex-wrap: wrap;
      margin: 0 2%;
      @media screen and (max-width: 1400px) {
        width: 40%;
      }
      @media screen and (max-width: 1200px) {
        width: 30%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
      }
      h2 {
        margin-bottom: 40px;
      }
      .doughnut {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
      #title {
        width: 100%;
      }
      #price {
        display: flex;
        position: relative;
        h1 {
          font-size: 180px;
          font-weight: 100;
          color: $highlight;
          small {
            top: 6px;
            position: absolute;
            font-size: 32px;
          }
        }
      }
    }
  }
}
</style>
