<template>
  <div v-if="!isLoading" class="wrapper">
    <div>
      <div class="sub__main">
        <img src="~@/assets/img/netflix.svg" />
        <ul>
          <li>
            <h2>{{ subName }}</h2>
          </li>
          <li>
            <span>{{ form.subCat }}</span>
          </li>
        </ul>
      </div>
      <form v-on:submit.prevent="saveSub">
        <SubForm v-bind:form="form" />
      </form>
      <span class="form_error" v-if="error">{{ error }}</span>
    </div>
  </div>
</template>

<script>
import fire from "../firebaseConfig";
import { mapGetters } from "vuex";
import SubForm from "../components/SubForm";
export default {
  name: "SubDetails",
  components: {
    SubForm,
  },
  data() {
    return {
      btName: "",
      subName: this.$route.params.name,
      error: "",
    };
  },
  computed: {
    ...mapGetters(["userSubsWithCat", "isLoading"]),
    userSub() {
      if (this.isLoading) {
        return undefined;
      }
      return this.userSubsWithCat.find((item) => item.name === this.subName);
    },
    form() {
      if (this.isLoading) {
        return undefined;
      }
      return {
        subPrice: this.userSub.price,
        subCat: this.userSub.cat,
        subStart: this.userSub.start,
        subEnd: this.userSub.end,
      };
    },
  },
  methods: {
    checkForm() {
      return !Object.values(this.form).some((x) => x === undefined || x === "");
    },
    saveSub() {
      if (this.checkForm) {
        fire
          .database()
          .ref(
            "userssubs/" + fire.auth().currentUser.uid + "/" + this.userSub.key
          )
          .update({
            price: parseFloat(this.form.subPrice),
            start: this.form.subStart,
            end: this.form.subEnd,
          })
          .then(() => {
            this.$router.replace({ name: "Dashboard" });
          })
          .catch((err) => {
            console.log(err.message);
          });
      } else {
        this.error = "Attention, tous les champs doivent être remplis !";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.wrapper {
  width: 60%;
  margin: 60px auto;
  padding: 0;
  @media screen and (max-width: 760px) {
    width: 90%;
  }
  .sub__main {
    @include sub__main;
    margin: 0;
  }
  .form__error {
    @include form_error;
  }
}
</style>
