<template>
  <div id="filterscontainer__actions">
    <div class="filterscontainer__input">
      <label>Prix</label>
      <select v-on:change="handleSort">
        <option value="asc">Ascendants</option>
        <option value="des">Déscendants</option>
      </select>
    </div>
    <div class="filterscontainer__input categories">
      <label>Catégories</label>
      <select v-on:change="handleFilter">
        <option value="all">Tous</option>
        <option v-for="(cat, i) in allCats" :key="i" :value="cat">
          {{ cat }}
        </option>
      </select>
    </div>
    <div class="filterscontainer__input research">
      <label>Rechercher</label>
      <input
        type="text"
        v-model="searchValue"
        @keyup="$emit('update:searchValue', searchValue)"
        placeholder="Nom d'un abonnement"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Filters",
  props: ["allCats"],
  data() {
    return {
      searchValue: "",
    };
  },
  methods: {
    handleSort(e) {
      this.$emit("handleSort", e.target.value);
    },
    handleFilter(e) {
      this.$emit("handleFilter", e.target.value);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
#filterscontainer__actions {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 760px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .research {
    @media screen and (max-width: 760px) {
      margin-top: 20px;
    }
  }
  .categories {
    @media screen and (max-width: 420px) {
      margin-top: 20px;
    }
  }
  .filterscontainer__input {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    option {
      color: $primary;
      padding: 0;
      margin: 0;
    }
    input,
    select {
      height: 40px;
      border: 1px solid $secondary;
      border-radius: 5px;
      background-color: transparent;
      color: #fff;
      padding: 0 10px;
      font-weight: 500;
      font-size: 16px;
    }
    select {
      width: 180px;
      margin-right: 20px;
      background: url("~@/assets/img/arrow-down.svg") no-repeat;
      background-position: top 15px right 10px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
    input {
      width: 260px;
      margin: 0;
      &::placeholder {
        color: $third;
      }
    }
  }
}
</style>
