<template>
  <div>
    <Menu v-bind:userProfile="userProfile" />
    <Nav />
  </div>
</template>

<script>
import Menu from "./Menu";
import Nav from "./Nav";
export default {
  props: ["userProfile"],
  components: {
    Menu,
    Nav,
  },
  name: "Header",
};
</script>
