<template>
  <div id="header">
    <div class="wrapper">
      <div>
        <router-link :to="{ name: 'Dashboard' }">
          <img src="~@/assets/img/logo.svg" />
        </router-link>
      </div>
      <div id="user">
        <div id="user__menu">
          <span ref="click-exclude" v-on:click="isActive = !isActive">
            {{ userProfile.name }}
            <img src="~@/assets/img/arrow-down.svg" />
          </span>
          <ul
            v-show="isActive"
            v-closeOutside="{ exclude: ['click-exclude'], handler: 'onClose' }"
          >
            <li v-on:click="signOut"><a>Déconnexion</a></li>
            <li>
              <a v-on:click="deleteUser">Suppression du compte</a>
            </li>
          </ul>
        </div>
        <div id="user__img">
          <div id="user__photo"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fire from "../firebaseConfig";
import closeOutside from "../directives/closeOutside";

export default {
  props: ["userProfile"],
  data() {
    return {
      error: "",
      isActive: false,
    };
  },
  directives: {
    closeOutside: closeOutside,
  },
  methods: {
    onClose() {
      this.isActive = false;
    },
    deleteUser() {
      this.isActive = !this.isActive;
      this.userProfile.id === "3jWwPiN6wja3pLkJBjBIaemaDBu2"
        ? this.$store.dispatch(
            "setNotification",
            "Attention, vous n'avez pas les droits pour supprimer le compte invité."
          )
        : this.$router.replace({ name: "DeleteUser" });
    },
    signOut() {
      fire
        .auth()
        .signOut()
        .then(() => {
          this.$store.commit("resetState");
          this.$router.replace({ name: "Signin" });
        })
        .catch((err) => {
          this.error = err.message;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
#header {
  background-color: $secondary;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  #user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__menu {
      border-bottom: 1px solid #fff;
      padding-bottom: 4px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      span {
        position: relative;
      }
      ul {
        width: 170px;
        margin-top: 40px;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        li:first-child a {
          color: $secondary;
        }
        li:last-child {
          margin-top: 10px;
          a {
            color: $alert;
          }
        }
      }
    }
    #user__img {
      background-image: url("~@/assets/img/profile-ovale.svg");
      width: 46px;
      height: 46px;
      margin-left: 20px;
      text-align: center;
      overflow: hidden;
      #user__photo {
        background-image: url("~@/assets/img/profile-pic.png");
        display: inline-block;
        width: 36px;
        height: 36px;
        margin-top: 5px;
        border-radius: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
</style>
