<template>
  <div id="nav">
    <nav class="wrapper">
      <ul>
        <li>
          <router-link :to="{ name: 'Dashboard' }">Mes abonnements</router-link>
        </li>
        <li v-if="subsLength > 1">
          <router-link :to="{ name: 'Data' }">Dépenses</router-link>
        </li>
      </ul>
      <div id="date">
        Aujourd'hui :
        <span>
          {{
            moment(todayDate)
              .locale("fr")
              .format("ll")
          }}</span
        >
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      todayDate: new Date(),
    };
  },
  computed: {
    ...mapGetters(["userSubsWithCat"]),
    subsLength() {
      return this.userSubsWithCat.filter((sub) => sub.active).length;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
#nav {
  border-bottom: 1px solid $secondary;
  .wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $third;
    #date {
      @media screen and (max-width: 760px) {
        display: none;
      }
    }

    a.router-link-exact-active,
    span {
      color: #fff;
    }
    ul li {
      display: inline-block;
      margin-right: 30px;
      a {
        color: $third;
        font-weight: 400;
        &:hover {
          text-decoration: none;
        }
        &.router-link-exact-active,
        &.router-link-active {
          border-bottom: 2px solid $highlight;
          padding-bottom: 19px;
          font-weight: 500;
        }
        &.router-link-active {
          color: #fff;
        }
      }
    }
  }
}
</style>
