<template>
  <div class="sub" v-bind:class="{ inactive: !userSub.active }">
    <div class="sub__switch">
      <div class="sub__toggle" v-on:click="$emit('toggleState', userSub)">
        <div
          class="sub__slider"
          v-bind:class="{ active: userSub.active }"
        ></div>
      </div>
    </div>

    <div class="sub__main">
      <img :src="require('@/assets/img/' + userSub.img)" />
      <ul>
        <li>
          <h2>{{ userSub.name }}</h2>
        </li>
        <li>
          <span>{{ userSub.cat }}</span>
        </li>
      </ul>
    </div>

    <div class="sub__price">
      <span>{{ userSub.price }}<small>€</small></span>
    </div>

    <div v-if="userSub.active" class="sub__payment">
      <div>
        <span>Futur paiement</span>
        <h3>
          {{
            moment(userSub.start)
              .locale("fr")
              .format("ll")
          }}
        </h3>
      </div>
      <div>
        <span>Fin contrat</span>
        <h3>
          {{
            moment(userSub.end)
              .locale("fr")
              .format("ll")
          }}
        </h3>
      </div>
    </div>

    <div class="sub__links" v-if="!userSub.active">
      <router-link
        class="edit"
        :to="{ name: 'SubDetails', params: { name: userSub.name } }"
        >Modifier</router-link
      >
      <a v-on:click="$emit('deleteSub', userSub)">Supprimer</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sub",
  props: ["userSub"],
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.sub {
  @include sub;
  background-color: $secondary;
  border-radius: 10px;
  position: relative;
  &.inactive {
    background-color: $dark;
    color: $third;
    .sub__main {
      img {
        opacity: 0.2;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
    .sub__price {
      color: $third;
    }
  }
  .sub__switch {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    %switch {
      width: 37px;
      height: 20px;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }
    %slider {
      position: absolute;
      background-color: $primary;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50px;
    }
    .sub__toggle {
      @extend %switch;
      @extend %slider;

      .sub__slider {
        &::after {
          position: absolute;
          border-radius: 50px;
          content: "";
          height: 16px;
          width: 16px;
          bottom: 2px;
          background-color: #fff;
        }
        &.active {
          &::after {
            background-color: $highlight;
            right: 2px;
          }
        }
      }
    }
  }
  .sub__main {
    @include sub__main;
  }
  .sub__price {
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
    color: $highlight;

    span {
      position: relative;
      display: inline-block;
      font-size: 70px;
      text-align: center;
      small {
        top: 6px;
        position: absolute;
        font-size: 16px;
      }
    }
    &:after {
      font-family: "Roboto";
      content: "/mois";
      display: inline-block;
    }
  }
  .sub__payment {
    margin: 45px 30px 0 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;

    span {
      color: $third;
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  .sub__links {
    margin: 65px 30px 0 30px;
    text-align: center;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    a {
      color: $alert;
      &.edit {
        color: $highlight;
      }
    }
  }
}
</style>
