<template>
  <div class="form__">
    <div class="subform__input">
      <label for="price"><h2>Tarif</h2></label>
      <input
        type="number"
        placeholder="7, 14.99, 21.50"
        v-model="form.subPrice"
        name="price"
        step=".01"
      />
    </div>
    <div id="date__form">
      <div class="subform__input">
        <label for="substart"><h2>Début</h2></label>
        <input
          class="date"
          type="date"
          v-model="form.subStart"
          name="substart"
        />
      </div>
      <div class="subform__input date">
        <label for="subend"><h2>Fin</h2></label>
        <input
          class="date"
          type="date"
          v-model="form.subEnd"
          name="subend"
          :min="form.subStart"
        />
      </div>
    </div>
    <div class="form__bt">
      <router-link :to="{ name: 'Dashboard' }">
        <button class="cancel__bt">
          Annuler
        </button>
      </router-link>
      <button class="submit__bt" type="submit" :disabled="isDisabled">
        {{ btName }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SubForm",
  props: ["form", "isDisabled"],
  data() {
    return {
      btName: "",
    };
  },
  mounted() {
    if (this.$route.name === "SubDetails") {
      this.btName = "Confirmer";
    } else {
      this.btName = "Ajouter l'abonnement";
    }
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#date__form {
  display: flex;
}
.form__bt {
  margin-top: 50px;
  .cancel__bt {
    @include bt;
    border: 1px solid $highlight;
    background-color: transparent;
    cursor: pointer;
    @media screen and (max-width: 440px) {
      width: 100%;
    }
    &:hover {
      background-color: $secondary;
      border: 1px solid $secondary;
    }
  }
  .submit__bt {
    @include bt;
    background-color: $highlight;
    margin-left: 20px;
    border: none;
    @media screen and (max-width: 440px) {
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
    }
    &:disabled {
      color: #b4e8e6;
      cursor: default;
    }
  }
}
.subform__input {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 20px;
  input {
    width: 140px;
    margin-top: 10px;
    height: 46px;
    border: 1px solid $secondary;
    padding: 0px 25px 0px 15px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    &.date {
      background-color: $dark;
      border: none;
    }
    &::placeholder {
      color: $third;
    }
  }
}
</style>
