<template>
  <div>
    <form v-on:submit.prevent="$emit('getCredentials', form)">
      <div v-if="btName === 'Créer son compte'">
        <label for="name">Nom *</label>
        <input
          type="text"
          v-model="form.userName"
          placeholder="Entrez votre nom"
          name="name"
        />
      </div>
      <div>
        <label for="email">Email *</label>
        <input
          type="email"
          v-model="form.userEmail"
          placeholder="Entrez votre mail"
          name="email"
        />
      </div>
      <div>
        <label for="password">Mot de passe *</label>
        <input
          type="password"
          v-model="form.userPassword"
          placeholder="Entrez votre mot de passe"
          name="password"
        />
        <span>Au moins 6 caractères et un chiffre</span>
      </div>
      <button type="submit" :disabled="isDisabled">{{ btName }}</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "UserCredentials",
  data() {
    return {
      btName: "",
      form: {
        userName: "",
        userEmail: "",
        userPassword: "",
      },
    };
  },
  computed: {
    isDisabled() {
      return !this.form.userEmail || !this.form.userPassword;
    },
  },
  mounted() {
    if (this.$route.name === "Signin") {
      this.btName = "Se connecter";
    } else if (this.$route.name === "Signup") {
      this.btName = "Créer son compte";
    } else {
      this.btName = "Supprimer mon compte";
    }
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
form {
  font-size: 16px;
  text-align: left;
  color: #fff;
  label {
    display: block;
    margin-top: 20px;
  }
  input {
    width: 330px;
    height: 40px;
    background-color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    padding-left: 10px;
  }
  button {
    @include bt;
    width: 340px;
    background-color: $highlight;
    border: 1px solid $highlight;
    margin-top: 20px;
    transition: 0.2s;
    border: none;
    &:hover {
      background-color: #04b0a9;
    }
    &:disabled {
      color: #b4e8e6;
    }
  }
  span {
    opacity: 0.5;
    margin-top: 10px;
    display: block;
  }
}
</style>
