<template>
  <div id="app">
    <div v-if="notification">
      <span id="notification">{{ notification }}</span>
    </div>
    <div v-if="userProfile.name">
      <Header v-bind:userProfile="userProfile" />
    </div>
    <router-view />
  </div>
</template>

<script>
import Header from "./components/Header";
import fire from "./firebaseConfig";
import { mapState, mapActions } from "vuex";
export default {
  name: "App",
  components: {
    Header,
  },
  computed: {
    ...mapState(["userInfos", "notif"]),
    userProfile() {
      return this.userInfos;
    },
    notification() {
      return this.notif.text;
    },
  },
  data() {
    return {
      unSub: undefined,
    };
  },
  mounted() {
    fire.auth().onAuthStateChanged(async (user) => {
      if (user) {
        if (!this.userInfos.name) {
          this.$store.commit("setName", user.displayName);
          this.$store.commit("setId", user.uid);
        }
        this.getAllSubscriptions();
        this.unSub = await this.getUserSubscriptions();
      } else {
        this.isLogged = false;
        if (this.unSub) {
          this.unSub();
        }
      }
    });
  },
  methods: {
    ...mapActions(["getUserSubscriptions", "getAllSubscriptions"]),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.ttt {
  padding: 0 6%;
  max-width: 2000px;
  margin: 0 auto;
}
#notification {
  background: rgb(221, 134, 239);
  background: linear-gradient(
    -45deg,
    rgba(221, 134, 239, 1) 0%,
    rgba(253, 210, 152, 1) 100%
  );
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  color: #fff;
}
</style>
