body {
  background-color: #14172c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
  font-weight: 300;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
a {
  font-weight: 500;
}

h1 {
  font-size: 28px;
}

.wrapper {
  padding: 0 6%;
  max-width: 2000px;
  margin: 0 auto;
}
