<template>
  <div class="formauth">
    <h1>Rentrez vos identifiants pour supprimer votre compte</h1>
    <UserCredentials @getCredentials="deleteUser" />
    <span v-if="error">{{ error }}</span>
  </div>
</template>

<script>
import { signInUser } from "../../lib/database";
import fire from "../../firebaseConfig";
import UserCredentials from "../../components/UserCredentials.vue";
export default {
  components: {
    UserCredentials,
  },
  name: "DeleteUser",
  data() {
    return {
      error: "",
    };
  },
  methods: {
    async deleteUser(credentials) {
      const userId = await signInUser(credentials);
      if (userId) {
        fire
          .database()
          .ref("userssubs/" + userId)
          .remove();
        await fire.auth().currentUser.delete();
        this.$store.commit("resetState");
        this.$store.dispatch(
          "setNotification",
          "Votre compte a bien été supprimé !"
        );
        this.$router.replace({ name: "Signup" });
      } else {
        this.error = "L'email ou le mot de passe est incorrect";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.logoauth {
  @include logoauth;
}
.formauth {
  @include formauth;
}
</style>
