<template>
  <div>
    <div class="logoauth">
      <img src="~@/assets/img/logo.svg" />
    </div>
    <div id="login">
      <div class="formauth">
        <h1>S'inscire</h1>
        <UserCredentials @getCredentials="signUpUser" />
        <span class="formauth__error" v-if="errors.name">
          {{ errors.name }}
        </span>
        <span class="formauth__error" v-if="errors.auth">
          {{ errors.auth }}
        </span>
        <span class="formauth__error" v-if="errors.password">{{
          errors.password
        }}</span>
        <a
          ><router-link :to="{ name: 'Signin' }"
            >Vous avez déjà un compte ?</router-link
          ></a
        >
      </div>
      <div id="guest">
        <h1>Se connecter en tant qu'invité</h1>
        <button @click="signInAsGuest">Se connecter comme invité</button>
      </div>
    </div>
  </div>
</template>

<script>
import fire from "../../firebaseConfig";
import { signInUser } from "../../lib/database";
import UserCredentials from "../../components/UserCredentials.vue";
export default {
  components: {
    UserCredentials,
  },
  name: "Signup",
  data() {
    return {
      errors: {
        name: "",
        password: "",
        auth: "",
      },
    };
  },
  methods: {
    isFormValid(form) {
      let isValid = true;
      if (!this.checkName(form.userName)) {
        this.errors.name = "Le nom doit être renseigné";
        isValid = false;
      }
      if (!this.checkPassword(form.userPassword)) {
        this.errors.password =
          "Vérifiez que le mot de passe contient bien au moins 6 caractères et un chiffre";
        isValid = false;
      }
      return isValid;
    },
    checkName(name) {
      if (name === "") {
        return false;
      }
      return true;
    },
    checkPassword(password) {
      const regex = new RegExp("(?=.*[0-9])");
      return regex.test(password);
    },
    signUpUser(form) {
      if (!this.isFormValid(form)) {
        return;
      }
      fire
        .auth()
        .createUserWithEmailAndPassword(form.userEmail, form.userPassword)
        .then((data) => {
          data.user
            .updateProfile({
              displayName: form.userName,
            })
            .then(() => {
              this.$store.commit("setName", data.user.displayName);
              this.$store.commit("setId", data.user.uid);
              this.$store.dispatch(
                "setNotification",
                "Votre compte a bien été crée!"
              );
              this.$router.replace({ name: "Dashboard" });
            });
        })
        .catch((err) => {
          this.errors.auth = err.message;
        });
    },
    async connectUser(credentials) {
      const userId = await signInUser(credentials);
      userId
        ? (this.$router.replace({ name: "Dashboard" }),
          this.$store.dispatch(
            "setNotification",
            "Bienvenue sur votre dashboard !"
          ))
        : (this.error = "L'utilisateur ou le mot de passe est incorrect");
    },
    signInAsGuest() {
      let guestCredentials = {
        userEmail: process.env.VUE_APP_GUEST_EMAIL,
        userPassword: process.env.VUE_APP_GUEST_PASSWORD,
      };
      this.connectUser(guestCredentials);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/mixins.scss";
.logoauth {
  @include logoauth;
}
#login {
  @include login;
}
</style>
