<template>
  <div>
    <div class="logoauth">
      <img src="~@/assets/img/logo.svg" />
    </div>
    <div id="login">
      <div class="formauth">
        <h1>Se connecter avec votre compte</h1>
        <UserCredentials @getCredentials="connectUser" />
        <span class="formauth__error" v-if="error">{{ error }}</span>
        <router-link :to="{ name: 'Signup' }"
          ><a>Pas encore inscris ?</a></router-link
        >
      </div>
      <div id="guest">
        <h1>Se connecter en tant qu'invité</h1>
        <button @click="signInAsGuest">Se connecter comme invité</button>
      </div>
    </div>
  </div>
</template>

<script>
import { signInUser } from "../../lib/database";
import UserCredentials from "../../components/UserCredentials.vue";
export default {
  components: {
    UserCredentials,
  },
  name: "Signin",
  data() {
    return {
      form: {
        userEmail: "",
        userPassword: "",
      },
      error: "",
    };
  },
  methods: {
    async connectUser(credentials) {
      const userId = await signInUser(credentials);
      userId
        ? (this.$router.replace({ name: "Dashboard" }),
          this.$store.dispatch(
            "setNotification",
            "Bienvenue sur votre dashboard !"
          ))
        : (this.error = "L'utilisateur ou le mot de passe est incorrect");
    },
    signInAsGuest() {
      let guestCredentials = {
        userEmail: process.env.VUE_APP_GUEST_EMAIL,
        userPassword: process.env.VUE_APP_GUEST_PASSWORD,
      };
      this.connectUser(guestCredentials);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/variables.scss";
@import "~@/assets/styles/mixins.scss";
.logoauth {
  @include logoauth;
}
#login {
  @include login;
}
</style>
